/*Components*/
/* line 10, ../../app/styles/main.scss */
.btn-blue {
  background: #23b9e7;
  color: white;
}

/* line 15, ../../app/styles/main.scss */
.btn-private {
  border: 1px solid #ffcf99;
  color: #ffcf99;
  padding: 0px 4px 2px 4px;
  margin-left: 5px;
  font-size: 1rem;
}

/* line 23, ../../app/styles/main.scss */
.settings {
  position: relative;
}
/* line 25, ../../app/styles/main.scss */
.settings .notifications {
  background: red;
  color: white;
  position: absolute;
  margin-top: -19px;
  margin-left: 7px;
  font-size: .75rem;
  border-radius: 50%;
  padding: 0 3px;
}

/*End Components*/
/* line 41, ../../app/styles/main.scss */
body {
  font-size: 1.1rem;
  /*background: $blue;*/
}

/* line 46, ../../app/styles/main.scss */
#wrapper {
  background: white;
  margin: 20px auto;
  max-width: 1000px;
  border-top: 1px solid #23b9e7;
  border-bottom: 1px solid #23b9e7;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

/* line 56, ../../app/styles/main.scss */
.controls {
  padding-bottom: 25px;
  margin: 20px 0;
  color: #c4ccd1;
  height: 20px;
}
/* line 61, ../../app/styles/main.scss */
.controls label {
  font-weight: 200;
}
/* line 64, ../../app/styles/main.scss */
.controls .dropdown {
  display: inline;
}
/* line 66, ../../app/styles/main.scss */
.controls .dropdown button {
  border-radius: 2px;
  background: white;
  color: #c4ccd1;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.1rem;
}
/* line 76, ../../app/styles/main.scss */
.controls .dropdown-menu > li > a {
  color: #c4ccd1;
  font-size: 1rem;
  cursor: pointer;
}
/* line 81, ../../app/styles/main.scss */
.controls .left-column {
  padding-left: 0;
}
/* line 83, ../../app/styles/main.scss */
.controls .left-column label {
  margin-right: 5px;
}
/* line 87, ../../app/styles/main.scss */
.controls .right-column {
  text-align: right;
  padding-right: 0;
}
/* line 90, ../../app/styles/main.scss */
.controls .right-column button {
  font-size: 1.1rem;
}

/* line 96, ../../app/styles/main.scss */
.repos {
  color: #566c7a;
}

/* line 100, ../../app/styles/main.scss */
#page-content-wrapper {
  min-height: 600px;
  margin-left: 100px;
  margin-right: 50px;
}
/* line 104, ../../app/styles/main.scss */
#page-content-wrapper #pager {
  text-align: center;
  margin-bottom: 50px;
}
/* line 107, ../../app/styles/main.scss */
#page-content-wrapper #pager .pagination > li > a {
  cursor: pointer;
  background: #dde0e2;
  color: #8c9ba4;
  margin: 2px;
  padding: 1px 5px;
  font-size: 1rem;
}
/* line 114, ../../app/styles/main.scss */
#page-content-wrapper #pager .pagination > li > a:hover, #page-content-wrapper #pager .pagination > li > a.active {
  color: white;
  background: #23b9e7;
}
/* line 121, ../../app/styles/main.scss */
#page-content-wrapper .articles {
  min-height: 525px;
}
/* line 124, ../../app/styles/main.scss */
#page-content-wrapper article {
  border-bottom: 1px solid #dde0e2;
  padding: 10px 0;
}
/* line 126, ../../app/styles/main.scss */
#page-content-wrapper article:first-child {
  border-top: 1px solid #dde0e2;
}
/* line 130, ../../app/styles/main.scss */
#page-content-wrapper article .title {
  font-weight: 600;
  font-size: 1.2rem;
  color: #566c7a;
}
/* line 135, ../../app/styles/main.scss */
#page-content-wrapper article p {
  color: #c4ccd1;
  margin-bottom: 0;
  font-size: 1rem;
}
/* line 140, ../../app/styles/main.scss */
#page-content-wrapper article button {
  margin-left: 5px;
  height: 14px;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 14px;
}

/* line 150, ../../app/styles/main.scss */
#sidebar-wrapper {
  padding-top: 10px;
  min-height: 620px;
  width: 65px;
  float: left;
  border-right: 1px solid #dde0e2;
}
/* line 156, ../../app/styles/main.scss */
#sidebar-wrapper ul {
  padding-left: 0px;
}
/* line 159, ../../app/styles/main.scss */
#sidebar-wrapper li {
  list-style: none;
}
/* line 161, ../../app/styles/main.scss */
#sidebar-wrapper li a {
  display: block;
  padding: 12px 26px;
  text-decoration: none;
  color: #c4ccd1;
  border-left: 2px solid white;
}
/* line 167, ../../app/styles/main.scss */
#sidebar-wrapper li a:hover, #sidebar-wrapper li a.active {
  color: #23b9e7;
  border-left: 2px solid #23b9e7;
}
/* line 172, ../../app/styles/main.scss */
#sidebar-wrapper li a i {
  font-size: 1.2rem;
}

/*# sourceMappingURL=main.css.map */