<div class="controls row">
    <div class="col-xs-6 left-column">
        <div class="dropdown">
            <label for="singleSelect"> Filter by: </label>
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">{{accountFilter || "All accounts"}}
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a ng-click="switchFilter('All accounts')">All accounts</a></li>
                <li ng-repeat="item in accounts">
                    <a ng-click="switchFilter(item)">{{item}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6 right-column">
        <button id="newRepoButton" class="btn btn-sm btn-blue" data-toggle="modal" ng-click="toggleModal
()">New repository</button>
    </div>
</div>
<section class="articles">
    <article ng-repeat="item in filteredRepos = (repos | filter:{account:accountFilter}) | startFrom:(currentPage-1)*maxItemsPerPage | limitTo:maxItemsPerPage track by $index" class="repo">
        <a href="/repo/{{item.id}}">
        <span class="account-and-name">{{item.account}}/<span class="title">{{item.title}}</span>
        <span ng-show="{{item.isPrivate}}" class="btn-private">private</span>
        </span>
        <p>{{item.description}}</p>
        </a>
    </article>
</section>
<div id="pager">
    <ul class="pagination pagination-sm">
        <li>
            <a ng-click="decrementCurrentPage()">
                <span class="glyphicon glyphicon-menu-left"></span>
            </a>
        </li>
        <li ng-repeat="i in getNumberArray(numberOfPages()) track by $index"><a ng-class="{active: currentPage==$index+1}" ng-click="updatePageNumber($index)">{{$index+1}}</a></li>
        <li>
            <a ng-click="incrementCurrentPage()">
                <span class="glyphicon glyphicon-menu-right"></span></a>
        </li>
    </ul>
</div>
<modal id="newRepoModal" class="modal fade" role="dialog" visible="showModal" title="New Repository">
    <form role="form" name="form.newRepoForm" ng-submit="addRepo(form)">
        <div class="form-group">
            <label for="account">Account:</label>
            <select name="accountName" class="form-control" ng-change="selectRepoAccount(item)" ng-model="form.account" required>
                <option ng-repeat="item in accounts" ng-value="item">{{item}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" ng-model="form.title" class="form-control" id="title" placeholder="Title" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" ng-model="form.description" class="form-control" id="description" placeholder="Description">
        </div>
        <div class="form-group">
            <label for="description">Private account?</label> &nbsp;
            <input type="checkbox" ng-model="form.isPrivate" id="isPrivate">
        </div>
        <button type="reset" ng-click="formReset()" class="btn btn-danger">Reset</button>
        <button type="submit"  class="btn btn-default">Submit</button>
    </form>
    <br/>
    <!-- <pre>form = {{form | json}} </pre> -->
</modal>
